{% extends "::design.html.twig" %}

{% block title %}
  Articles - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Articles</h1>
  

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block article_body %}
  {% endblock %}

{% endblock %}
