{# src/OC/PlatformBundle/Resources/views/Advert/menu.html.twig #}

{# Ce template n'hérite de personne,
   tout comme le template inclus avec {{ include() }}. #}

<ul class="nav nav-pills nav-stacked">
  {% for article in listArticles %}
    <li>
      <a href="{{ path('article_voir', {'id': article.id}) }}">
        {{ article.title }}
      </a>
    </li>
  {% endfor %}
</ul>
